@URL = http://localhost:8080

###

GET {{URL}}/albums

###

POST {{URL}}/albums
Content-Type: application/json

{ "title": "Oh No", "artist": "Goodbye June", "year": 2016 }

###

GET {{URL}}/albums/a18d6479-a7cd-4eba-944c-f456009a0311

###

PATCH {{URL}}/albums/a18d6479-a7cd-4eba-944c-f456009a0311
Content-Type: application/json

{ "artist": "Goodbye June", "year": 2016 }

###

DELETE {{URL}}/albums/a18d6479-a7cd-4eba-944c-f456009a0311
