@URL = http://localhost:8080

###

GET {{URL}}/albums HTTP/1.1

###

POST {{URL}}/albums HTTP/1.1
Content-Type: application/json

{ "title": "Oh No", "artist": "Goodbye June", "year": 2016 }

###

GET {{URL}}/albums/1

###

DELETE {{URL}}/albums/1
